body {
	margin: 1rem auto;
	padding: 3rem;
	font-family: sans-serif;
}
header {
	margin: 20px 20px 20px 20px;
}
main {
	border: 2px solid #d0e5f9;
	border-radius: 1rem;
	box-shadow: 5px 5px 20px #d0e5f9;
	min-width: 25rem;
	max-width: 550px;
	margin: 0 auto;
}
div	{
	background: #f7fafd;
	border-radius: 0rem 0rem 1rem 1rem;
	
}
#separator {
	border: 1px solid #d0e5f9;
}

#statement {
	padding: 2rem;
	font-size: x-large;
	text-align: center;;
}
#options {
	display: flex;
	flex-direction: row;
}
button {
	margin: 0 auto;
	padding: 0.75rem;
	font-size: medium;
	font-weight: bold;
	background: none;
	border: 3px solid #d0e5f9;
	border-radius: 5px;
	cursor: pointer;
	width: 35%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#next {
	display: block;
	border: 2px solid black;
	background-color: #0e3f70;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100px;
	padding: 15px;
	color: white;
}

.nextDisabled {
	background: none;
	border: 2px solid #0e3f70;
	color: #0e3f70;
}


#explanation {
	padding: 2rem;
	text-align: center;
}
.correct {
	border: 3px solid #00794a;
	animation: push 0.3s;
}
.incorrect {
	border: 3px solid #9b2222;
	animation: horizontal-shaking 0.35s;
}

@keyframes push{
  50%  {transform: scale(0.9);}
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}